{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body id="bg" style="background-image: url('{% static 'css/images/covrr4.svg' %}');">
<section>
<section>
  <div class="contact">
    <h1>Contact Me</h1>
    <div class="email">
      <p>marvinesmeralda4@gmail.com</p>
    </div>
  </div>
</section>
</body>
</html>
{% endblock content %}